/* Define styling here, text-align changed from center to left */
.App {
  text-align: center;
  height: 100%;
  /* background: url("./img/playfield.jpg") !important;
  background-size: cover !important; */
  /* background-attachment: fixed !important; */
}

.locationPage {
  /* background-color: white; */
  height: 100vx;
  padding-left: 10px;
  overflow: scroll;
}

.locationList {
  height: 600px;
  overflow: scroll;
}

/* .ui header {
  font-size: 130sem;

} */

.locationCard {
  text-align: left;
}

title {
  font-size: calc(20px + 2vmin);
  color: white;
}


.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  font-size: calc(30px + 2vmin);
  font-size-adjust: auto;
  text-decoration-color: white;
font: 15px arial, sans-serif
}

.App-header {
  color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.Sidebar {
  text-align: right;
  height: 100vw;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
